@using EntityLayer.Concrete
@model List<Portfolio>




<div class="section px-2 px-lg-4 pt-5" id="portfolio">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="marker marker-center">Projelerim </h2>
        </div>
        <div class="grid bp-gallery pb-3" data-aos="zoom-in-up" data-aos-delay="100">
            <div class="grid-sizer"></div>
            @foreach (var item in Model)
            {


        <a href="@item.ProjectUrl">
            <div class="grid-item">
                <figure class="portfolio-item">
                    <img src="@(!string.IsNullOrEmpty(item.ImageUrl) ? "/projectimage/" + item.ImageUrl : "/projectimage/default-mini.jpg")" data-bp="@(!string.IsNullOrEmpty(item.ImageUrl2) ? "/projectimage/" + item.ImageUrl2 : "/projectimage/default.png")" style="width:300px; height:200px;" />
                    <figcaption>
                        <h4 class="h5 mb-0">@item.Name</h4>
                        <div>@item.ProjectUrl</div>
                    </figcaption>
                </figure>
            </div>
        </a>


            }

        </div>
    </div>
</div>

